@use "../../styles/mixins.scss" as *;

.how-block {
    margin-top: 65px;

    &_title {
        white-space: pre-line;
        font-size: 30px;
        margin-bottom: 60px;

        @include desktop {
            margin-bottom: 70px;
            font-size: 48px;
        }
    }

    &_button {
        width: 100%;
        max-width: 510px;
    }

    &_button-wrapper {
        margin-top: 97px;
        width: 100%;
        max-width: 510px;

        @include desktop {
            margin-top: 480px;
        }
    }

    &_left-part {
        position: relative;
    }

    @include tablet {
        margin-top: 80px;
    }

    @include desktop {
        margin-top: 100px;
    }
}