@use "../../../../styles/mixins.scss" as *;

.info-block-card {
    position: relative;
    padding: 98px min(6.6vw, 25px) 30px;
    max-width: 400px;

    &_wrapper {
        max-width: 400px;
    }

    &_upper-block {
        position: absolute;
        inset: 0;
        overflow: hidden;
        border-radius: 40px;

        @include desktop {
            border-radius: 60px;
        }
    }

    &_title-wrapper {
        position: absolute;
        top: 22px;
        left: 0;
        height: 56px;
        padding: 8px 25px;
        width: fit-content;
        max-width: 94%;
        display: flex;
        align-items: center;
        border-radius: 60px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: var(--color-white);
        white-space: pre-line;

        & p {
            font-size: 18px;
            width: fit-content;
            font-weight: 700;
            color: var(--color-gray);
        }

        @include desktop {
            padding-left: 55px;
        }
    }

    &_text {
        text-transform: none;
        font-size: 14px;

        & span {
            text-transform: none;
        }
    }

    &_image {
        position: absolute;
        top: -20px;
        right: -8px;
        object-position: center 0%;
        object-fit: contain;
        width: 86px;
        height: 86px;

        @include desktop {
            top: -12px;
            right: auto;
            left: -45px;
        }
    }

    &_gift {
        transform: rotate(-15deg);
    }

    @include desktop {
        padding:  98px min(3.125vw, 45px) 30px;
    }
}