.button {
    position: relative;
    width: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 60px;
    height: 48px;
    padding: 0 20px 2px;
    background: var(--color-orange);
    font-size: 20px;

    &__secondary {
        background: transparent;
        @media (hover:hover) {
            &:hover {
                background: var(--color-orange);
            }
        }
    }
}