@use "../../styles/mixins.scss" as *;

.footer {
    position: relative;
    padding-top: 390px;
    overflow: hidden;

    &_wrapper {
        position: relative;
    }

    &_person { 
        position: absolute;
        z-index: 3;
        top: 44px;
        left: 57%;
        transform: translateX(-50%);
        width: 205px;
        height: 359px;
        object-fit: contain;

        @include desktop {
            left: 660px;
            top: -320px;
            width: 244px;
            height: 426px;
        }
    }
    
    &_block {
        padding: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid var(--color-white);
        border-bottom: none;
        box-shadow: 0 0 5px 0px var(--color-white);

        @include desktop {
            flex-direction: row;
            height: 102px;
            padding: 36px 50px 32px;
        }
    }

    &_shining {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_text {
        font-size: 16px;
        align-items: center;
        text-transform: none;
        white-space: pre-line;
        line-height: 105%;

        @include desktop {
            align-items: left;
        }
    }

    &_bot-block {
        display: flex;
        gap: 12px;

        &_text {
            display: none;

            @include desktop {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    &_bot-button {
        width: 52px;
        height: 52px;
        margin-bottom: 20px;

        @include desktop {
             width: 40px;
            height: 40px;
            margin-bottom: 0;
        }
    }

    @include desktop {
        padding-top: 89px;
    }
}
